.cards {
    display: flex;
    gap: 1em;
    padding: 1em;
    max-width: 960px;
    margin: auto;
    justify-content: space-evenly;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    height: 180px;
    width: 100px;
    font-size: 10px;
    color: #000000;
}

.card-image img{
    height: 100px;
    border-radius: 8px;
}

.card-content {
    padding-left: 5px;
}

