@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color:rgb(5, 1, 52);
    height: 130vh;
    margin: 0;
    padding: 0;
}

.cabecalho {
    position: fixed;
    background-color: rgb(37, 38, 42);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
}

.span1{
    position: fixed;
    font-size: 25px;
    left: 30%;
    top: 2%;
    width: 100px;
    text-align: center;
    border-radius: 15px;
}


.span2 {
    position: fixed;
    font-size: 25px;
    right: 30%;
    top: 2%;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.titulo {
    position: absolute;
    top: 150px;
    width: 100%;
    left: 20%;
    font-size: 70px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.paragrafos .lorem1 {
    position: absolute;
    width: 20%;
    color: white;
    font-family: cursive;
    top: 40%;
    right: 80px;
    
}

.paragrafos .lorem2 {
    position: absolute;
    width: 20%;
    color: white;
    font-family: cursive;
    top: 60%;
    right: 80px;
}

.paragrafos .lorem3 {
    position: absolute;
    width: 20%;
    color: white;
    font-family: cursive;
    top: 80%;
    right: 80px;
}

.perfil {
    position: absolute;
    width: 13%;
    height: 20%;
    border-radius: 50%;
    right: 10%;
    top: 12%;
}


.img_grande .pordosol{
    height: 700px;
    width: 500px;
    border-radius: 20px;
}

.img_grande {
    position: absolute;
    background-color: rgba(4, 3, 0, 0.866);
    width: 500px;
    height: 730px;
    top: 40%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.atitus {
    position: fixed;
    z-index: 5;
    width: 80px;
    left: 30px;
}

.lista {
    font-size: 25px;
    position: absolute;
    color: white;
    top: 1300px;
    right: 10%;
}

.link {
    color: aliceblue;
    text-decoration: dotted;
}