body{
    background-color: black;
}

.cabecalho {
    background-color: aliceblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 16px;
    width: 100%;
}

.cabecalho img{
    width: 96px;
    height: 96px;
}

.barra_links {
    position: fixed;
    background-color: white;
    text-align: center;
    top: 0;
    padding: 16px;
    width: 100%;
}

.barra_links a {
    margin-inline: 10%;
}

.centro {
    text-align: center;
    height: 300px;
    width: 400px;
    margin: auto;
    padding-top: 50%;
    padding-top: -150px;
}

.centro p {
    background-color: grey;
    color: white;
}