.form-title {
    font-size: 1em;
    text-align: center;
    margin-bottom: 0.4em;
  }
  
  .button {
    background-color: #82847cd5;
    color: #ffeccc;
    padding: 0.8em 1.8em;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
  }
  
  .button:hover {
    background-color: #fc60a8;
  }
  
  .text-field {
    border: 2px solid #000000;
    padding: calc(0.8em - 2px);
    font-size: 0.8em;
    border-radius: 4px;
  }
  
  .text-field:focus {
    border-color: #870058;
  }
  
  .text-field::placeholder {
    color: #302b27b0;
  }
  
  .form-contato {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 16px;
    border-radius: 8px;
    max-width: 800px;
    margin-block: 16px;
    margin-inline: auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}
  

.informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-top: 1px solid black;
    align-items: center;
    height: 130px;
}

.information-span {
    font-size: 10px;
    color: rgb(128, 128, 128);
}


@media (min-width: 600px) {
    .form-contato {
      min-width: 600px;
    }
}
  
  .full-name-container {
    display: flex;
    gap: 4px;
  }
  
@media (max-width: 600px) {
    .full-name-container {
      flex-direction: column;
    }
}
  

  
  